h3 {
  color: #1B6F44;
  font-size: 27px;
  font-weight: 700;
}

.page-main {
  width: 100%;
  max-width: 1920px;
  padding: 0;
}

.banner {
  position: relative;
  overflow: hidden;

  .img-banner {
    object-fit: contain;
  }

  .banner-text {
    position: absolute;
    top: 26%;
    left: 15%;
    width: 30%;
    h2 {
      color: #1B6F44;
      font-size: 40px;
      font-weight: 700;
    }
    button {
      background-color: #1B6F44;
      width: 122px;
      height: 40px;
      border: none;
      a {
        color: white;
        text-decoration: none;
      }
    }
  }
}

.post {
  width: 100%;
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
  max-width: 1270px;
  margin: auto;

  .post-image {
    width: 50%;
  }

  .post-text {
    width: 50%;
    text-align: left;
    margin-left: 15rem;
    margin-top: 8rem;

    p {
      font-size: 14px;
      line-height: 1.9;
    }
  }
}

.order-management {
  display: flex;
  text-align: center;

  .order-text {
    width: 40%;
    text-align: left;
    margin-top: 9rem;
    margin-right: 124px;
    padding-left: 28rem;

    p {
      font-size: 14px;
      line-height: 1.9;
    }
  }

  .order-image {
    width: 60%;
    float: right;
  }
}

.service {
  max-width: 1270px;
  width: 100%;
  margin: auto;
  text-align: center;

  .service-title {
    width: 100%;
    background-color: #1B6F44;
    font-size: 20px;
    font-weight: 900;
    color: #ffffff;
  }

  .service-content {
    display: flex;
    justify-content: space-between;

    .g-content {
      height: 130px;
      width: 22%;
      padding: 30px 10px 20px 10px;
      background-color: #F9F9F9;

      .g-title {
        font-size: 19px;
        font-weight: 700;
        letter-spacing: 0.9px;
        font-style: italic;
      }

      .g-description {
        margin-top: 15px;
        line-height: 1.6;
      }
    }
  }
}

.create-form {
  width: 100%;
  max-width: 1250px;
  margin: auto;
  border: solid 10px #97C950;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .form-text {
    width: 25%;
  }

  .form-input {
    display: flex;
    flex-wrap: wrap;
    width: 40%;

    h3 {
      width: 100%;
    }

    input.first_name {
      margin-right: 5rem;
    }

    input.company_name {
      margin-right: 5rem;
    }

    input[type="text"] {
      width: 45%;
      height: 45px;
      margin-bottom: 45px;
    }

    input[type="number"] {
      width: 45%;
      height: 45px;
      margin-bottom: 45px;
    }

    input.email {
      height: 45px;
      margin-bottom: 30px;
    }

    textarea {
      margin-bottom: 45px;
    }

    input[type="submit"] {
      margin-bottom: 45px;
    }
  }
}
.page-footer {
  background-color: #1B7045;
}
.footer.content {
  border-top: none;
}

.footer-up {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;
  .footer-middle {
    display: grid;
    a {
      text-decoration: none;
      color: white;
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 20px;
      text-transform: uppercase;
    }
  }
  .footer-left {
    display: grid;
    .logo {
      width: 220px;
      height: 55px;
      object-fit: contain;
      margin: 0;
      margin-left: 20px;
    }
    .social-link {
      margin-top: 20px;
      margin-bottom: 20px;
      a {
        border: 1px solid #569C7E;
        padding: 4px;
        margin-right: 18px;
        border-radius: 5px;
        color: #73AC93;
      }
    }
    a.telephone {
      text-decoration: none;
      color: white;
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 20px;
    }
    a.griff-email {
      text-decoration: none;
      color: white;
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 20px;
    }
  }
  .block.newsletter {
    .title {
      display: block;
      font-weight: 700;
      line-height: 1.1;
      font-style: italic;
      color: white;
      strong {
        font-size: 1.6rem;
      }
    }
    input {
      background-color: #1B7045;
    }
  }
}

.footer-down {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .copyright {
    font-weight: 700;
    line-height: 1.1;
    color: white;
    font-size: 1.3rem;
  }
  .powered-by {
    font-weight: 700;
    line-height: 1.1;
    color: white;
    font-size: 1.3rem;
  }
  .footer-links {
    display: flex;
    a {
      font-weight: 700;
      line-height: 1.1;
      color: white;
      font-size: 1.3rem;
      text-decoration: none;
      margin-right: 20px;
    }
    a:last-child {
      margin-right: 0;
    }
  }
}
